#include "res.h"

IDI_V2 ICON "v2.ico"

STRINGTABLE
BEGIN
	IDS_BUTTON "BUTTON"
	IDS_LB "LISTBOX"
	IDS_EDIT "EDIT"
	IDS_REMOVE "Remove"
	IDS_ADD "Add"
	IDS_BAD_INDEX "Unable to add string(Edit box was empty!!)"
	IDS_ERROR "Something went wrong, please look at log file."
	IDS_ERROR_INDEX "Please select propert column to erase. Dont select index 0."
	IDS_DIAG_TEXT "NWP 2."
	IDS_WARN "Are you sure about closing the window, your data will be lost?"

	IDS_CAPT_WARN "Warn"
	IDS_CAPT_ERROR "Error"
	IDS_CAPT_HELP "Help"
END

IDM_V2 MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit",   ID_FILE_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About",	ID_HELP_ABOUT
    END
END