#include "res.h"
#include <windows.h>

#define IDC_STATIC -1

IDI_V2 ICON "v2.ico"


STRINGTABLE
BEGIN
    IDC_REMOVE "Remove"
    IDC_ADD "Add"
    
END
ID_HELP_ABOUT DIALOGEX 0, 0, 150, 100
    STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_THICKFRAME
    CAPTION "Dialog Box"
    FONT 8, "MS Shell Dlg"
    BEGIN
        CONTROL "Neki tekst", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 10, 100, 20
        PUSHBUTTON "OK", IDOK, 60, 45, 50, 14
    END


IDM_V2 MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit",   ID_FILE_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About",	ID_HELP_ABOUT
    END
END
